@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto-Light.ttf");
}

html,
body {
  height: 100%;
  font-family: "Roboto-Light";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 7.5px solid #000000;
}

a {
  text-decoration: none;
  color: #000000;
}
.flashincorrect {
  animation: blinker 1s linear 3;
  border: 5px solid #e23636 !important;
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "\00a0\00a0\00a0";
  }
  25% {
    content: ".\00a0\00a0";
  }
  50% {
    content: "..\00a0";
  }
  75% {
    content: "...";
  }
  100% {
    content: "\00a0\00a0\00a0";
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.minselect {
  overflow: hidden;
  width: 30vw;
  font-size: 48px;
  font-family: inherit;
  border: 5px solid #000000;
}

.minselect select {
  text-align-last: center;
  width: 100%;
  font-size: 48px;
  font-family: inherit;
}

.ready {
  color: #82dd55;
}

.notready {
  color: #e23636;
}

.outline {
  border: 7.5px solid #000000;
  width: 75vw;
  height: 95vh;
  min-width: 800px;
  min-height: 750px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-evenly;
}

.menuitem {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.menubutton {
  border: 5px solid #000000;
  font-size: 48px;
  width: 300px;
  text-align: center;
}

.buttonlink {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

/* .buttonlink:hover {
    cursor: pointer;
  } */

.buttonlink:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.menutitle {
  font-size: 100px;
  font-weight: normal;
  padding: 50px;
}

.menutext {
  font-size: 48px;
  font-family: inherit;
}

.inputmin {
  width: 30vw;
  font-size: 48px;
  font-family: inherit;
  border: 5px solid #000000;
}

.minlist {
  font-size: 48px;
}

.horizbreak {
  width: 100%;
  height: 5px;
  background-color: black;
}

#lobbylist {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.svgicon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}
